@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,500);
@import url(//fonts.googleapis.com/earlyaccess/jejugothic.css);
@import url(https://fonts.googleapis.com/css?family=BenchNine:700);
*:focus {
  outline: none;
}

body {
  margin: 0px;
  padding: 100px;
  background: url('../images/header.jpg');
  font-size: 16px;
  color: #222; 
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}

#login-box {
  position: relative;
  margin: 5% auto;
  width: 800px;
  height: 400px; /* 전체높이 */
  background: #FFF;
  border-radius: 2px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
}

.left {
  position: absolute;
  top: 0;
  left: 0;
  box-sizing: border-box;
  padding-top: 40px;
  padding-left: 20px;
  width: 400px;
  height: 400px;
  background-image: url('../images/Error.PNG');
  background-repeat: no-repeat;
  background-size: 80% 70%;
  background-position: center;
}

h1 {
  margin: 0 0 20px 0;
  font-family:'Jeju Gothic';
  font-weight: normal;
  font-size: 50px;
  padding-left: 0px;
}

h2{
	
	
}

.right {
  position: absolute;
  text-align: left;
  top: 0;
  right: 0;
  box-sizing: border-box;
  padding-top: 130px;
  padding-right: 70px;
  width: 400x;
  height: 400px;
  border-radius: 0 2px 2px 0;
}

button.btnstyle {
  margin-top: 90px;
  margin-right: 17px;
  width: 100px;
  height: 50px;
  border: none;
  border-radius: 2px;
  color: #FFF;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 25px;
  transition: 0.2s ease;
  cursor: pointer;
  background: #55ACEE;
}
button.btnstyle:hover,
button.btnstyle:focus {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
  transition: 0.2s ease;
}

button.btnstyle:active {
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
  transition: 0.2s ease;
}


.snip1535 {
  background-color: #c47135;
  border: none;
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  font-family: 'BenchNine', Arial, sans-serif;
  font-size: 1em;
  font-size: 22px;
  line-height: 1em;
  margin: 15px 40px;
  outline: none;
  padding: 12px 40px 10px;
  position: relative;
  text-transform: uppercase;
  font-weight: 700;
}
.snip1535:before,
.snip1535:after {
  border-color: transparent;
  -webkit-transition: all 0.25s;
  transition: all 0.25s;
  border-style: solid;
  border-width: 0;
  content: "";
  height: 24px;
  position: absolute;
  width: 24px;
}
.snip1535:before {
  border-color: #c47135;
  border-right-width: 2px;
  border-top-width: 2px;
  right: -5px;
  top: -5px;
}
.snip1535:after {
  border-bottom-width: 2px;
  border-color: #c47135;
  border-left-width: 2px;
  bottom: -5px;
  left: -5px;
}
.snip1535:hover,
.snip1535.hover {
  background-color: #c47135;
}
.snip1535:hover:before,
.snip1535.hover:before,
.snip1535:hover:after,
.snip1535.hover:after {
  height: 100%;
  width: 100%;
}
